
body {
    background: #484848;
    color: #fff;
    font-family: sans-serif;
}
input {
    border: #888 solid 2px;
    border-top: #505050 solid 3px;
    border-left: #505050 solid 2px;
    border-radius: 5px;
    background: #222;
    color: #fff;
    margin-bottom: 10px;
    outline: none;
    padding: 8px;
}
button {
    border-radius: 6px;
    border: #999 solid 2px;
    border-top: #505050 solid 3px;
    border-left: #505050 solid 3px;
    box-shadow: inset 3px 3px 2px #ffffff2e,
                inset -2px -2px 2px #0c0c0c47;
    cursor: grab;
    font-weight: bold;
    outline: none !important;
    padding: 10px 10px 10px 10px;
    text-shadow: 1px 1px 0px #0000004a;
    vertical-align:top;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}
#main-grid>div {
    background: #666;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #333;
    padding: 10px;
}

#chart {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding: 0 !important;
    background: #3a3a3a !important;
}

#trading {
    grid-column: 3 / 5;
    grid-row: 1;
    max-width: 500px;
}

#position-orders {
    grid-column: 1 / 3;
    grid-row: 3;
}
#book {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
#trades {
    grid-column: 4;
    grid-row: 3;
}
#wallet {
    grid-column: 3;
    grid-row: 3;
}
