
body {
    background: #333333;
    color: #fff;
    font-family: sans-serif;
}
.input {
    align-items: center;
    border: #888 solid 2px;
    border-top: #505050 solid 3px;
    border-left: #505050 solid 2px;
    border-radius: 10px;
    background: #222;
    color: #fff;
    display: flex;
    margin-bottom: 10px;
    outline: none;
    padding: 8px;
}
.input input {
    background: none;
    border: none;
    color: #ffffff;
    outline: none;
    width:  100%;
}

.input label {
    font-size: 13px;
    color: #ffffff6e;
    display: inline-block;
    width: 46px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent;
    vertical-align: middle;
}
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #434546;
    border-radius: 5px;
    height: 80%;
    width: 20px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ccc;
    border-radius: 8px;
    box-shadow: #00000030 1px 2px 2px,
               inset #00000080 -2px -2px 5px,
               inset #ffffff88 2px 2px 5px;
    height: 15px;
    width: 30px;
    margin-top: -3px;
}

output {
    font-weight: bold;
    margin-left: 7px;
    vertical-align: middle;
}

input[type="checkbox"] {
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    border-radius: 6px;
    border: #999 solid 2px;
    border-top: #505050 solid 3px;
    border-left: #505050 solid 3px;
    box-shadow: inset 3px 3px 2px #ffffff2e,
                inset -2px -2px 2px #0c0c0c47;
    cursor: grab;
    font-weight: bold;
    outline: none !important;
    padding: 10px 10px 10px 10px;
    text-shadow: 1px 1px 0px #0000004a;
    vertical-align:top;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    width: 100%;
}
#main-grid > div {
    background-color: #676767;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #333;
}

#main-grid > div > header {
    background-color: #080e29;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 4px #00000042;
    color: #2a4eb5;
    padding: 10px;
    position: relative; /* for box-shadow over sibling divs */
    /* text-align: center; */
}

#main-grid > div > main {
    padding: 10px;
}

#chart {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#trading {
    grid-column: 3 / 5;
    grid-row: 1;
    max-width: 500px;
}

#position-orders {
    grid-column: 1 / 2;
    grid-row: 3;
}
#book {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
#trades {
    grid-column: 4;
    grid-row: 3;
}
#wallet {
    grid-column: 2 / 4;
    grid-row: 3;
}
