
#position-orders table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #00000045;
    margin:  auto;
    text-align: center;
    text-shadow: 1px 2px 2px #00000045;
    overflow: hidden;
}

#positions {
    margin-bottom: 20px !important;
}

/* th */
#position-orders th {
    background: #00000030;
    padding: 8px 10px;
}

/* Borders */
#position-orders th:not(:last-child),
#position-orders td:not(:last-child) {
    border-right: 2px solid #00000012;
}

/* td */
#position-orders td {
    padding: 4px 10px;
}
#position-orders .long {
    background-color: #4ab94c;
}
#position-orders .short  {
    background: #ab257c;
}
#position-orders .buy {
    background-color: #038e5b;
}
#position-orders .sell  {
    background: #704fad;
}
#position-orders td:first-child {
    text-transform: capitalize;
}

/* Button */
#position-orders button {
    padding: 1px 15px;
    box-shadow: 1px 3px 2px #0000004a;
    border: none;
    cursor: pointer;
}

/* Disabled */
tr.disabled td {
    border-right: 0px !important;
}
tr.disabled button {
    display: none;
}
