
#position-orders table {
    border-collapse: collapse;
    margin: 5px;
    text-align: center;
    text-shadow: 1px 2px 2px #00000060;
}

/* Rounded corners hack */
#position-orders table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}
#position-orders table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}
#position-orders table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
#position-orders table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

#position-orders th {
    background: #00000030;
    padding: 8px 10px;
}

#position-orders th:not(:last-child), #position-orders td:not(:last-child) {
    border-right: 2px solid #00000012;
}

#position-orders td {
    background: #038e5b;
    padding: 4px 10px;
}

#position-orders .buy td {
    background: #038e5b;
}
#position-orders .sell td {
    background: #8c295e;
}

#position-orders button {
    padding: 1px 15px;
    box-shadow: 1px 3px 2px #0000004a;
    border: none;
    cursor: pointer;
}
