
#balances {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    /* grid-auto-rows: minmax(200px, auto); */
}

#balances .label {
    text-align: right;
    /* flex-grow: 1; */
}
#balances .value {
    /* flex-grow: 1; */
}
