.labeledInput {
  display: flex!important;
}

.labeledInput > label:first-child {
  margin-right: 0.375rem;
  line-height: 24px;
}

.labeledInput > label:last-child {
  margin-left: 0.375rem;
  padding-top: 2px;
}

.labeledInput > input {
  flex: 1;
  border-color: transparent;
  outline: none;
  background-color: transparent;
  color: inherit;
  height: 24px;
}
