:root {
  --biduul-sell-color: #673ab7;
  --biduul-buy-color: #008765;
  --biduul-stop-buy-color: var(--bs-red);
  --biduul-stop-sell-color: var(--bs-red);

  --bs-success: var(--biduul-buy-color);
  --bs-danger: #ff4557;
  --bs-danger-rgb: 255, 69, 87;
}

/* fixes (can be removed if they're not needed anymore) */
td { box-shadow: none!important; } /* fixes weird table background bug caused by bootswatch */
.table > :not(:last-child) > :last-child > * { border-bottom-color: inherit; } /* fixes weird table border bug caused by bootswatch */

/* common */
.react-grid-placeholder { /* placeholder when resizing a widget */
  border: dashed 2px #fff;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn { /* buttons disabled state */
  opacity: 0.5; /* default 0.65 */
}

.form-control, .form-control:focus { /* form fields */
  border-color: #222 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link { /* active tab */
  background-color: #4e4e4e;
}

/* widgets */
.card {
  background-color: #363636;
}

/* "buy" color */
.bg-buy {
  background-color: var(--biduul-buy-color);
}

.table-buy {
  --bs-table-bg: var(--biduul-buy-color);
  border-color: var(--biduul-buy-color);
}

.btn-success,
.btn-success:disabled,
.btn-success.disabled {
  background-color: var(--biduul-buy-color);
  border-color: var(--biduul-buy-color);
}

/* "sell" color */
.bg-sell {
  background-color: var(--biduul-sell-color);
}

.btn-sell,
.btn-sell:disabled,
.btn-sell.disabled {
  background-color: var(--biduul-sell-color);
  border-color: var(--biduul-sell-color);
}

.table-sell {
  --bs-table-bg: var(--biduul-sell-color);
  border-color: var(--biduul-sell-color);
}

.form-control, .form-control:focus {
  border-color: #888;
  background: #222;
  color: #fff;
}

/* inherit placeholder style for the component label */
.labeled-input > label {
  color: #888;
}
