:root {
  --biduul-sell-color: #673ab7;
  --biduul-buy-color: var(--bs-green);
}
/* common */
.react-grid-placeholder {
  background-color: rgba(105, 60, 186, 0.5);
}

/* add custom "sell" color */
.btn-sell {
  background-color: #673ab7;
  border-color: #6a3eb8;
}

.btn-sell:hover {
  background-color: #6537b8;
  border-color: #693cba;
}

.btn-sell:focus, .btn-sell.focus {
  background-color: #6537b8;
  border-color: #693cba;
  box-shadow: 0 0 0 0.2rem rgba(105, 60, 186, 0.5);
}

.btn-sell.disabled, .btn-sell:disabled {
  background-color: #6c42b8;
  border-color: #6c42b8;
}

.btn-sell:not(:disabled):not(.disabled):active, .btn-sell:not(:disabled):not(.disabled).active,
.show > .btn-sell.dropdown-toggle {
  background-color: #6537b8;
  border-color: #693cba;
}

.btn-sell:not(:disabled):not(.disabled):active:focus, .btn-sell:not(:disabled):not(.disabled).active:focus,
.show > .btn-sell.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 60, 186, 0.5);
}

.table-sell th,
.table-sell td,
.table-sell thead th,
.table-sell tbody + tbody {
  border-color: #8d72ba;
}

.table-sell,
.table-sell > th,
.table-sell > td {
  background-color: #6c3fba;
}

td.table-sell {
  background-color: #6c3fba;
}

.table-hover .table-sell:hover,
.table-hover .table-sell:hover > th,
.table-hover .table-sell:hover > td {
  background-color: #673ab7;
}

.form-control, .form-control:focus {
  border-color: #888;
  background: #222;
  color: #fff;
}

/* inherit placeholder style for the component label */
.labeled-input > label {
  color: #888;
}
