:root {
}

.react-grid-placeholder {
  background-color: rgba(225, 83, 97, 0.3);
}

.btn-sell {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-sell:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.btn-check:focus + .btn-sell, .btn-sell:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-sell, .btn-check:active + .btn-sell, .btn-sell:active, .btn-sell.active, .show > .btn-sell.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}
.btn-check:checked + .btn-sell:focus, .btn-check:active + .btn-sell:focus, .btn-sell:active:focus, .btn-sell.active:focus, .show > .btn-sell.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-sell:disabled, .btn-sell.disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.table-sell {
  --bs-table-bg: #f8d7da;
  --bs-table-striped-bg: #eccccf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c7ca;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfc2c4;
}

/* inherit placeholder style for the component label */
.labeled-input > label {
  color: #6c757d;
}

/* CHART */
path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: #00AA00;
  stroke: #00AA00;
}

path.candle.down {
  fill: #FF0000;
  stroke: #FF0000;
}

path.tradearrow {
  stroke: none;
}

path.tradearrow.buy {
  fill: #0000FF;
}

path.tradearrow.buy-pending {
  fill-opacity: 0.2;
  stroke: #0000FF;
  stroke-width: 1.5;
}

path.tradearrow.sell {
  fill: #9900FF;
}

.tradearrow path.highlight {
  fill: none;
  stroke-width: 2;
}

.tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
  stroke: #0000FF;
}

.tradearrow path.highlight.buy-pending {
  fill: #0000FF;
  fill-opacity: 0.3;
}

.tradearrow path.highlight.sell {
  stroke: #9900FF;
}
