
svg {
    font: 10px sans-serif;
    background: #000113;
    border-radius: 5px;
    height: 100%;
    shape-rendering: crispEdges;
}
svg text {
    fill: white
}
/*
    Axis
*/
.axis text {
    fill: #67bcff ;
}
.axis path, .axis line {
    stroke: #3F51B5;
}
/*
    Grid
*/
.gridlines line, .gridlines path {
    stroke: #000940;
}
/*
    Candles
*/
path.candle {
    stroke: #005dff;
    /* stroke-linecap: round; */
}
path.candle.body {
    stroke-width: 0;
}
path.candle.wick {
    stroke-width: 2 !important;
}
path.candle.up {
    fill: #005dff;
    stroke: #005dff;
}
path.candle.down {
    fill: #0025ff;
    stroke: #0025ff;
}
/*
    Lines
*/
.scope-supstance .interaction path {
    stroke-width: 10px !important;
}
/*
    Price line
*/
.price-line .supstance path {
    stroke: #0000ff;
    stroke-dasharray: 10 6;
    visibility: hidden;
}
.price-line .axisannotation path {
    fill: #0000ff;
    stroke: #0000ff;
    shape-rendering: auto;
}
/*
    Bid & Ask line
*/
.bid-ask-lines .supstance path {
    stroke: #0000ff;
}
.bid-ask-lines .axisannotation path,
.bid-ask-lines .axisannotation text {
    visibility: hidden;
}
/*
    Position line
*/
.position-line path {
    fill: #30b332;
    stroke: #30b332;
}
.position-label rect {
    fill: #30b332;
    stroke: #30b332;
    stroke-width: 2;
    width: 70px;
    height: 19px;
    rx: 6px;
    ry: 6px;
}
.position-line text,
.position-label text {
    font-weight: bold;
}
.position-line [data-side='sell'] path,
.position-label [data-side='sell'] path,
.position-label [data-side='sell'] rect {
    fill: #ab257c;
    stroke: #ab257c;
}
.position-line [data-side='sell'] text,
.position-label [data-side='sell'] text {
    fill: #fff;
}
/*
    Liquidation lines
*/
.liquidation-line .supstance path {
    stroke: #ff0026;
}
.liquidation-line .axisannotation path,
.liquidation-line .axisannotation text {
    visibility: hidden;
}
.liquidation-line [data-type='draft'] .supstance path {
    stroke-dasharray: 10 6;
}
/*
    Order lines
*/
.order-lines .scope-supstance.mouseover path {
    cursor: grab;
}
.order-lines path {
    fill: #20884c;
    stroke: #20884c;
}
.order-labels rect {
    fill: #20884c;
    stroke: #20884c;
    stroke-width: 0;
    width: 70px;
    height: 19px;
    rx: 6px;
    ry: 6px;
}
.order-lines [data-side='sell'] path,
.order-labels [data-side='sell'] rect {
    fill: #6d28d2;
    stroke: #6d28d2;
}
/*
    Draft lines
*/
.draft-lines .scope-supstance.mouseover path {
    cursor: grab;
}
.draft-lines .supstance path {
    stroke-dasharray: 10 6;
}
.draft-lines path {
    fill: #20884c;
    stroke: #20884c;
}
.draft-labels rect {
    fill: #191919;
    stroke: #20884c;
    stroke-width: 2;
    width: 70px;
    height: 19px;
    rx: 6px;
    ry: 6px;
}
.draft-lines [data-side='sell'] path {
    fill: #7d37e4;
    stroke: #7d37e4;
}
.draft-labels [data-side='sell'] rect {
    stroke: #7d37e4;
}
/*
    Crosshair
*/
.crosshair path.wire {
    stroke: #3F51B5;
    stroke-dasharray: 2, 4;
}
.crosshair .axisannotation path {
    fill: #555;
}
.crosshair .axisannotation text {
    fill: #fff;
}
