/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Toolbar
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#chart .toolbar {
    background: #010013;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 12px 65px;
}
.toolbar .interval {
    cursor: pointer;
}
.toolbar .interval input {
    display: none;
}
.toolbar .interval label {
    border-radius: 20px;
    cursor: pointer;
    margin-right: 2px;
    padding: 7px;
}
.toolbar .interval label:hover {
    background-color: #003c96;
}
.toolbar .interval input:checked + label {
    background-color: #003c96;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   SVG
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg {
    font: 10px sans-serif;
    background: #010025;
    /* height: 100%; */
    shape-rendering: crispEdges;
}
svg text {
    fill: white
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Axis
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.axis text {
    fill: #67bcff ;
}
.axis path, .axis line {
    stroke: #3F51B5;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Grid
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.gridlines line, .gridlines path {
    stroke: #001242;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Candles
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.plot {
    stroke: #0077ff;
}
.plot .wick {
    stroke-width: 1px;
}
.plot .up.body {
    fill: #00a7ff;
    stroke: #0098ff;
}
.plot .up.wick {
    stroke: #00aeff;
}
.plot .down.body {
    fill: #003eff;
    stroke: #0022ff;
}
.plot .down.wick {
    stroke: #0046ff;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.scope-supstance .interaction path {
    stroke-width: 10px !important;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Price line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.price-line .supstance path {
    stroke: #0000ff;
    stroke-dasharray: 10 6;
    visibility: hidden;
}
.price-line .axisannotation path {
    fill: #0000ff;
    stroke: #0000ff;
    shape-rendering: auto;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Bid & Ask line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.bid-ask-lines .supstance path {
    stroke: #0000ff;
}
.bid-ask-lines .axisannotation path,
.bid-ask-lines .axisannotation text {
    visibility: hidden;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Position line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.position-line path {
    fill: #30b332;
    stroke: #30b332;
}
.position-label rect {
    fill: #30b332;
    stroke: #30b332;
    stroke-width: 2;
    width: 70px;
    height: 19px;
    rx: 6px;
    ry: 6px;
}
.position-line text,
.position-label text {
    font-weight: bold;
}
.position-line [data-side='sell'] path,
.position-label [data-side='sell'] path,
.position-label [data-side='sell'] rect {
    fill: #ab257c;
    stroke: #ab257c;
}
.position-line [data-side='sell'] text,
.position-label [data-side='sell'] text {
    fill: #fff;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Break-even line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.break-even-line .supstance path {
    stroke: #5c4d39;
    stroke-dasharray: 4px 7px;
}
.break-even-line .axisannotation path,
.break-even-line .axisannotation text {
    visibility: hidden;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Liquidation lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.liquidation-line .supstance path {
    stroke: #ff0026;
}
.liquidation-line .axisannotation path,
.liquidation-line .axisannotation text {
    visibility: hidden;
}
.liquidation-line [data-type='draft'] .supstance path {
    stroke-dasharray: 10 6;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Order lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.order-lines .scope-supstance.mouseover path {
    cursor: grab;
}
.order-lines path {
    fill: #20884c;
    stroke: #20884c;
}
.line-label  {
    background-color: #20884c;
    border-radius: 5px;
    min-width: 70px;
    height: 19px;
}
.line-label div {
    display: inline-block;
    height: 19px;
    padding: 4px 2px;
}
.order-lines [data-side='sell'] path,
.order-labels [data-side='sell'] .line-label {
    background-color: #6d28d2;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Draft lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.draft-lines .scope-supstance.mouseover path {
    cursor: grab;
}
.draft-lines .supstance path {
    stroke-dasharray: 10 6;
}
.draft-lines path {
    fill: #20884c;
    stroke: #20884c;
}
.draft-labels rect {
    fill: #191919;
    stroke: #20884c;
    stroke-width: 2;
    width: 70px;
    height: 19px;
    rx: 6px;
    ry: 6px;
}
.draft-lines [data-side='sell'] path {
    fill: #7d37e4;
    stroke: #7d37e4;
}
.draft-labels [data-side='sell'] rect {
    stroke: #7d37e4;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Crosshair
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.crosshair path.wire {
    stroke: #3F51B5;
    stroke-dasharray: 2, 4;
}
.crosshair .axisannotation path {
    fill: #555;
}
.crosshair .axisannotation text {
    fill: #fff;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Measure tool
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.measurer rect {
    fill: rgb(0, 68, 255);
    opacity: 0.3;
}
.measurer foreignObject {
    overflow: visible;
}
.measurer-label {
    display: inline-block;
    /* padding: 8px 0; */
    text-align: center;
}
.measurer-label div {
    background: rgb(52, 106, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.3em;
    opacity: 0.9;
    padding: 10px;
    text-align: left;
}
