
.trading-grid {
    display: grid;
    grid-template-columns: auto 20px auto;
    grid-gap: 5px;
}

.trading-grid input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 130px;
}
.trading-grid button {
    /* border: none; */
    /* border-left: none; */
    /* border-top: none; */
    border: 2px solid #333;
    border-left: 2px solid #404040;
    border-top: 2px solid #404040;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000050,
                inset 3px 3px 5px #ffffff2e,
                inset -2px -2px 2px #0c0c0c47;
    display: block;
    margin-top: 15px;
    width: 100%;
    min-width: 150px;
    text-shadow: 1px 2px 3px #000000a6;
}

#trading button:active {
    box-shadow: 1px 1px 3px #ffffff10,
                inset 2px 3px 4px #0c0c0c3d;
    line-height: 11px;
    padding: 14px 6px 10px 10px;
}
#trading .buy .btn {
    background-color: #14bf70;
    color: white;
}
#trading .sell .btn {
    background-color: #914cec;
    /* background-color: #ff3879; */
    /* box-shadow: 3px 3px 3px #00000050,
                inset 3px 3px 2px #ffffff2e,
                inset -2px -2px 2px #0c0c0c5c; */
    color: white;
    /* text-shadow: 1px 2px 3px #480524; */
}

#trading.market .buy .price,
#trading.market .sell .price {
    background: #636363;
    color: #888;
    display: none;
    pointer-events: none;
}
#trading.market .buy .btn {
    background-color: #005bff;
}
#trading.market .sell .btn {
    background-color: #f72424;
}

#trading .margin {
    font-size: .7em;
    margin-left: 9px;
}
#trading .dollar-qty {
    font-size: .9em;
    line-height: 11px;
    border-radius: 8px;
    padding: 9px 1px 9px 6px;
    text-shadow: 1px 1px 2px #00000090;
}

#trading .buy .dollar-qty {
    background-color: #14bf70;
}
#trading .sell .dollar-qty {
    background-color: #914cec;
}
#trading .dollar-qty .val{
    font-size: .9em;
    margin-left: 2px;
    box-shadow: 1px 1px 3px #ffffff10, inset 2px 3px 4px #0c0c0c3d;
    /* line-height: 11px; */
    border-radius: 5px;
    padding: 5px 6px 5px 6px;
    background-color: #11a25e;
    display: block;
    float: right;
    margin-top: -4px;
    min-height: 9px;
    min-width: 70px;
    margin-right: 4px;
    overflow: hidden;
    max-width: 120px;
}
#trading .buy .dollar-qty .val{
    background-color: #11a25e;
}
#trading .sell .dollar-qty .val{
    background-color: #8e46ec;
}
