/* #trades {
    padding: 0 0 0 0 !important;
} */

#trades table {
    border-collapse: collapse;
    border-radius: 0px 0px 5px 5px;
    font-size: 0.9em;
    width: 100%;
}

#trades th {
    padding: 4px;
}

#trades tr {
    padding: 0px 5px;
}

#trades td {
    padding: 5px 10px;
    text-align: right;
}
#trades th:not(:last-child),
#trades td:not(:last-child) {
    border-right: 2px solid #00000012;
}

#trades .buy {
    background-color: #038e5b;
}
#trades .sell {
    background-color: #704fad;
}
