
.trading-grid {
    display: grid;
    grid-template-columns: auto 20px auto;
    grid-gap: 5px;
}

#trading label {
    color: #ffffff96;
    margin-right: 4px;
}

#trading input {
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
}

#trading .input label {
    color: #ffffff6e;
}

/*
    Order type
*/
#order-type {
    background: #2b2b2b;
    border-radius: 13px 13px 13px 13px;
    margin: 0;
    margin-bottom: 14px;
}
#order-type input {
    height: 0;
    opacity: 0;
    margin: 0px 0px 10px 0px;
    width: 0;
}
#order-type label {
    cursor: pointer;
    display: inline-block;
    margin-right: -9px;
    margin-top: 2px;
    padding: 4px 8px 4px 8px;
}
#order-type label:hover {
    color: white;
}
#order-type :checked + label {
    background: #c3c3c3;
    border-radius: 13px 13px 13px 13px;
    color: black;
    cursor: default;
    font-weight: bold;
    position: relative;
}

/*
    Leverage
*/
#trading .leverage {
    margin-bottom: 10px;
}
#trading .leverage input  {
    width: 65%;
    cursor: pointer;
}

/*
    Input fields
*/
#trading .buy input {
    color: #71e8a2;
}
#trading .sell input {
    color: #bca0ff;
}

#trading .dollar-qty {
    font-size: .8em;
    color: #ffffff6e;
}

/*
    Margin cost
*/
#trading .margin {
    font-size: .8em;
    margin-left: 9px;
}
#trading .margin .val {
    font-weight: bold;
}

/*
    Buy/Sell buttons
*/
#trading button {
    border: 2px solid #333;
    border-left: 2px solid #404040;
    border-top: 2px solid #404040;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #00000050,
                inset 3px 3px 5px #ffffff2e,
                inset -2px -2px 2px #0c0c0c47;
    display: block;
    margin-top: 15px;
    width: 100%;
    min-width: 150px;
    text-shadow: 1px 2px 3px #000000a6;
}

#trading button:active {
    box-shadow: 1px 1px 3px #ffffff10,
                inset 2px 3px 4px #0c0c0c3d;
    line-height: 11px;
    padding: 14px 6px 10px 10px;
}
#trading .buy .btn {
    background-color: #14bf70;
    color: white;
}
#trading .sell .btn {
    background-color: #914cec;
    color: white;
}

/*
    Market order
*/
#trading.market .buy .price,
#trading.market .sell .price {
    background: #636363;
    color: #888;
    display: none;
    pointer-events: none;
}
#trading.market .buy .btn {
    background-color: #005bff;
}
#trading.market .sell .btn {
    background-color: #f72424;
}
