
#balances {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    /* grid-auto-rows: minmax(200px, auto); */
}

#balances .label {
    color: #eeeeee;
    line-height: 11px;
    padding: 7px 6px 7px 6px;
    text-align: right;
    /* flex-grow: 1; */
}
#balances .value {
    /* flex-grow: 1; */
    font-size: .9em;
    margin-left: 5px;
    line-height: 11px;
    border-radius: 8px;
    padding: 7px 3px 7px 6px;
    background-color: #00000049;
}
