


/*
    Main
*/
body {
    background: #111111;
}
input[type="text"] {
    border-bottom: #505050 solid 3px;
    border-right: #505050 solid 2px;
    border-radius: 12px;
}
#main-grid > div {
    background-color: #222222;
    box-shadow: 3px 3px 8px #000000;
}
#main-grid > div > header {
    background-color: #000113;
    border-radius: 7px 7px 0px 0px;
    border-top: #ffffff35;
    border-left: #ffffff35;
    border-bottom: #00000030;
    border-right: #00000030;
    border-style: inset;
    border-width: thin;
    box-shadow: 0px 3px 4px #00000060;
    color: #5a7bd8;
    padding: 7px 10px 5px 10px;
}

/*
    Chart
*/
.axis text {
    fill: #839ce2;
}

path.candle.wick {
    stroke-width: 1 !important;
}

/*
    Positions & Orders
*/
#position-orders table {
    text-shadow: 1px 1px 3px #000000bb;
    color : #dddddd;
}
#position-orders th {
    background: #00000050;
}

/*
    Trading
*/
#trading .margin {
    font-size: .8em;
    margin-top: 9px;
}

/*
    Wallet
*/
#balances .label {
    color: #eeeeee;
    text-shadow: 1px 1px 2px #00000090;
    font-size: 0.8em;
    line-height: 11px;
    padding: 7px 6px 7px 6px;

    /* flex-grow: 1; */
}
#balances .value {
    /* flex-grow: 1; */
    font-size: .9em;
    margin-left: 5px;
    box-shadow: 1px 1px 3px #ffffff10,
                inset 2px 3px 4px #0c0c0c3d;
    line-height: 11px;
    border-radius: 8px;
    padding: 7px 3px 7px 6px;
    background-color: #111111;
}
