.card {
  display: flex;
  height: 100%;
}

.cardBody {
  flex: 1;
  position: relative;
  background-color: inherit;
  overflow: auto;
}

.cardHeader {
  cursor: grab;
}

.settingsIcon {
  cursor: pointer;
  float: right;
}

.settings {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.5s;
}

.settingsOpen {
  opacity: 1;
  pointer-events: auto;
}
