:root {
  --altamoon-chart-background: #202020e8;
  --altamoon-chart-text-fill: #fff;
  --altamoon-chart-axis-line-stroke: rgba(255, 255, 255, 0.1);
  --altamoon-chart-gridlines-stroke: rgba(255, 255, 255, 0.05);
  --altamoon-chart-last-price-line-color: var(--bs-info);
  --altamoon-chart-crosshair-color: var(--bs-info);
  --altamoon-chart-position-buy-line-color: #30b332;
  --altamoon-chart-position-sell-line-color: #ab257c;
  --altamoon-chart-order-buy-line-color: #20884c;
  --altamoon-chart-order-sell-line-color: #6d28d2;
  --altamoon-chart-measurer-selection-color: rgba(0, 68, 255, 0.3);
  --altamoon-chart-measurer-body-color: rgba(52, 106, 255, 0.9);
  --altamoon-chart-liquidation-line-color: #ff0026;

  --altamoon-chart-up: var(--bs-green);
  --altamoon-chart-down: #e73a4a;
  --altamoon-chart-plot-up-body-fill: var(--altamoon-chart-up);
  --altamoon-chart-plot-up-body-stroke: var(--altamoon-chart-up);
  --altamoon-chart-plot-up-wick-stroke: var(--altamoon-chart-up);
  --altamoon-chart-plot-down-body-fill: var(--altamoon-chart-down);
  --altamoon-chart-plot-down-body-stroke: var(--altamoon-chart-down);
  --altamoon-chart-plot-down-wick-stroke: var(--altamoon-chart-down);
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   SVG
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg {
  font: 10px sans-serif;
  background: var(--altamoon-chart-background);
  shape-rendering: crispEdges;
}
svg.chart-svg text {
  fill: white
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Axis
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .axis text {
  fill: var(--altamoon-chart-text-fill);
}
svg.chart-svg .axis path, svg.chart-svg .axis line {
  stroke: var(--altamoon-chart-axis-line-stroke);
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Grid
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .gridlines line, svg.chart-svg .gridlines path {
  stroke: var(--altamoon-chart-gridlines-stroke);
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Candles & Volume
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .plot .wick { stroke-width: 1px; }
svg.chart-svg .plot .up.body, svg.chart-svg .volume .up.body {
  fill: var(--altamoon-chart-plot-up-body-fill);
  stroke: var(--altamoon-chart-plot-up-body-stroke);
}
svg.chart-svg .plot .up.wick { stroke: var(--altamoon-chart-plot-up-wick-stroke); }

svg.chart-svg .plot .down.body, svg.chart-svg .volume .down.body {
  fill: var(--altamoon-chart-plot-down-body-fill);
  stroke: var(--altamoon-chart-plot-down-body-stroke);
}
svg.chart-svg .plot .down.wick { stroke: var(--altamoon-chart-plot-down-wick-stroke); }

svg.chart-svg .volume-tooltip.up { background-color: var(--altamoon-chart-plot-up-body-fill); }
svg.chart-svg .volume-tooltip.down { background-color: var(--altamoon-chart-plot-down-body-fill); }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .scope-supstance .interaction path {
  stroke-width: 10px !important;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Price line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .price-line .supstance path {
  stroke: var(--altamoon-chart-last-price-line-color);
  stroke-dasharray: 10 6;
  visibility: hidden;
}
svg.chart-svg .price-line .axisannotation path {
  fill: var(--altamoon-chart-last-price-line-color);
  stroke: var(--altamoon-chart-last-price-line-color);
  shape-rendering: auto;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Bid & Ask line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .bid-ask-lines .supstance path {
  stroke: var(--altamoon-chart-last-price-line-color);
}
svg.chart-svg .bid-ask-lines .axisannotation path,
svg.chart-svg .bid-ask-lines .axisannotation text {
  visibility: hidden;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Position line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .position-line path {
  fill: var(--altamoon-chart-position-buy-line-color);
  stroke: var(--altamoon-chart-position-buy-line-color);
}
svg.chart-svg .position-label .line-label {
  background-color: var(--altamoon-chart-position-buy-line-color);
  border: 2px solid var(--altamoon-chart-position-buy-line-color);
  border-radius: 5px;
  box-sizing: content-box;
  min-width: 70px;
  height: 19px;
}
svg.chart-svg .position-label .line-label div {
  display: inline-block;
  height: 19px;
  padding: 4px 3px;
}
svg.chart-svg .position-line text,
svg.chart-svg .position-label text {
  font-weight: bold;
}
svg.chart-svg .position-line [data-side='sell'] path,
svg.chart-svg .position-label [data-side='sell'] path,
svg.chart-svg .position-label [data-side='sell'] rect {
  fill: var(--altamoon-chart-position-sell-line-color);
  stroke: var(--altamoon-chart-position-sell-line-color);
}
svg.chart-svg .position-line [data-side='sell'] text,
svg.chart-svg .position-label [data-side='sell'] text {
  fill: #fff;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Break-even line
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .break-even-line .supstance path {
  stroke: #5c4d39;
  stroke-dasharray: 4px 7px;
}
svg.chart-svg .break-even-line .axisannotation path,
svg.chart-svg .break-even-line .axisannotation text {
  visibility: hidden;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Liquidation lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .liquidation-line .supstance path {
  stroke: var(--altamoon-chart-liquidation-line-color);
}
svg.chart-svg .liquidation-line .axisannotation path,
svg.chart-svg .liquidation-line .axisannotation text {
  visibility: hidden;
}
svg.chart-svg .liquidation-line [data-type='draft'] .supstance path {
  stroke-dasharray: 10 6;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Order lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .order-lines .scope-supstance.mouseover path {
  cursor: grab;
}
svg.chart-svg .order-lines path {
  fill: var(--altamoon-chart-order-buy-line-color);
  stroke: var(--altamoon-chart-order-buy-line-color);
}
svg.chart-svg .order-lines [data-side='sell'] path {
  stroke: var(--altamoon-chart-order-sell-line-color);
}
svg.chart-svg .order-labels .line-label  {
  background-color: var(--altamoon-chart-order-buy-line-color);
  border-radius: 5px;
  min-width: 70px;
  height: 19px;
}
svg.chart-svg .order-labels .line-label div {
  display: inline-block;
  height: 19px;
  padding: 4px 3px;
}
svg.chart-svg .order-labels [data-side='sell'] .line-label {
  background-color: var(--altamoon-chart-order-sell-line-color);
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Draft lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .draft-lines .scope-supstance.mouseover path {
  cursor: grab;
}
svg.chart-svg .draft-lines .supstance path {
  stroke-dasharray: 10 6;
}
svg.chart-svg .draft-lines path {
  fill: var(--altamoon-chart-order-buy-line-color);
  stroke: var(--altamoon-chart-order-buy-line-color);
}
svg.chart-svg .draft-labels .line-label {
  background-color: #191919;
  border: 2px solid var(--altamoon-chart-order-buy-line-color);
  border-radius: 5px;
  box-sizing: content-box;
  width: 70px;
  height: 19px;
}
svg.chart-svg .draft-labels .line-label div {
  display: inline-block;
  height: 19px;
  padding: 4px 3px;
}
svg.chart-svg .draft-lines [data-side='sell'] path {
  fill: #7d37e4;
  stroke: #7d37e4;
}
svg.chart-svg .draft-labels [data-side='sell'] .line-label {
  border-color: var(--altamoon-chart-order-sell-line-color);
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Alert lines
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

svg.chart-svg .triggered-alert-indicator {
  animation-duration: 1s;
  animation-name: altamoon-triggered-alert-indicator;
  animation-iteration-count: infinite;
  display: inline-block;
  vertical-align: top;
  color: var(--bs-yellow);
}

@keyframes altamoon-triggered-alert-indicator {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Measure tool
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .measurer rect {
  fill: var(--altamoon-chart-measurer-selection-color);
}
svg.chart-svg .measurer foreignObject {
  overflow: visible;
}
svg.chart-svg .measurer-label {
  display: inline-block;
  text-align: center;
}
svg.chart-svg .measurer-label div {
  background: var(--altamoon-chart-measurer-body-color);
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 10px;
  text-align: left;
}
svg.chart-svg .measurer-label p {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*   Order arrows & Mark price
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
svg.chart-svg .tooltip-wrapper { overflow: visible; }

svg.chart-svg .tooltip-wrapper > div {
  border-radius: 0.25rem;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.3em;
  display: inline-block;
}

svg.chart-svg .tooltip-wrapper p { white-space: nowrap; margin: 0; }

svg.chart-svg .order-arrow-buy, .order-arrow-sell { stroke-width: 1; stroke-linejoin: round;}
svg.chart-svg .order-arrow-buy { fill: var(--altamoon-buy-color);  }
svg.chart-svg .order-arrow-sell { fill: var(--altamoon-sell-color); }
